.bimg{
    background-image: url(https://media.istockphoto.com/id/1284691550/vector/blue-abstract-geometric-dynamic-shape-paper-layers-subtle-background-vector.jpg?s=612x612&w=0&k=20&c=8a0N0F6hcHc08o2aZgTZdreUMhTxS24Zp61KgdQzGgM=);
}
.center{
    text-align: center;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}
.bgcolor{
    background-color: lavender;
}
.bgimg{
    background-image: url(https://i.pinimg.com/736x/af/f5/e1/aff5e12461b5ec02bca43fb1e3895d19.jpg);
    height: 40px;
}
.card{
    border: 1px solid lightgray;
    border-radius: 18px;
    width: 340px;
    padding: 10px;
    margin: 10px;

}
.card-img{
    width: 100%;
    border-radius: 18px;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
